/*-----------Global styles ----------*/

html {
    margin: 0;
    font-size: 16px;
}

body {
    font-family: 'Roboto Mono', 'Roboto', sans-serif;
    text-align: center;
    color: black;
}



img {
    width: 100px;
    height: 100px;
}

/*-----------Header styles ----------*/

.headercontainer h1 {
    letter-spacing: 1.25rem;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 5rem;
    margin: 0;
}

.headercontainer {
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: center;
    background-image: url("../images/20181005_135122.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .headercontainer h1 {
        letter-spacing: 1rem;
        font-size: 2.3rem;
    }
}

/*-----------Navigation styles ----------*/

nav {
    display: flex;
    text-align: center;
    justify-content: space-evenly;

}

.navigation {
    display: inline-block;
    text-align: center;
    font-size: 1.25rem;
    text-transform:uppercase;
}

.navigation a {
    color: white;
}

.navigation a:hover {
    text-decoration:none;
}

@media only screen and (max-width: 400px) {
    nav {
        flex-direction: column;
    }

    .headercontainer {
        height: 20rem;
    }

    nav p {
        margin: 5px auto;
    }
}

/*-----------Mission styles ----------*/

#mission {
    text-align: center;
    padding: 20px 0;
    display: inline-block;
}

#mission h2 {
    font-size: 2rem;
}

#mission p {
    padding-bottom: 20px;
}

#mission .contact a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: mediumaquamarine;
    border-radius: 10px;
    margin: auto;
}

/*-----------Portfolio styles ----------*/

#portfolio {
    background-color: rgb(233,233,233);
    padding: 20px;
}

#portfolio h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.portfoliocontent {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfoliocontent img {
    width: 300px;
    height: 100%;
    margin: 10px;
}

@media only screen and (max-width: 350px) {
    .portfoliocontent {
        flex-direction: column;
        flex-shrink: 1;
    }

    .portfoliocontent img {
        max-width: 250px;
        min-width: 100px;
    }
}

/*-----------About me styles ----------*/

#about {
    width: 75%;
    margin: auto;
    padding: 20px;
}

#about h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.aboutmecontent {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.pictureaboutme img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin: 20px;
}

.pictureaboutme h4 {
    bottom: 30px;
    position: relative;
    font-weight: normal;
}


/*-----------Contact styles ----------*/

#contactme {
    background-color: rgb(233,233,233);
    margin: auto;
    padding: 20px;
}

#contactme h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#contactme a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

#contactme .email {
    color: gray;
}
/*-----------Footer styles ----------*/
footer p {
    font-style: italic;
}